{% extends 'base/form.html' %}
{%load widget_tweaks%}
{% block title %}
Registrar servicio ICMP | Cerbero
{% endblock title %}
{% block content %}
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card card-primary">
            <div class=" card-header">
                    <b>
                            <i class="fas fa-plus"> </i> Registrar servicio ICMP
                        </b>
            </div>

            
                <form method="post" id="dnsForm">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            {% for field in form.visible_fields %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<span class="text-danger">*</span>{% endif %}</label>
                                        {{ field|add_class:"form-control" }}
                                        {% for error in field.errors %}
                                            <span class="text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Guardar registro
                        </button>
                        <a href="{% url 'list_icmp' %}" class="btn btn-danger">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                    </div>
                </form>
            
            
            </div>
  
             
    </form>


{% endblock %}