{% extends 'base/body_admin.html' %}
{% load static %}
{% block head %}
  {% block head_list %}

  {% endblock %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <!-- Profile Image -->
      <div class="card card-primary">
        <div class="card-body box-profile">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="{{ request.user.profile.picture.url }}" alt="User profile picture" />
          </div>

          <h3 class="profile-username text-center">{{ request.user.first_name }} {{ request.user.last_name }} ({{ request.user.username }})</h3>
          <p class="text-muted text-center">
            {% for g in request.user.groups.all %}
              {% if g.name == 'owner' %}
                <strong>Propietario de servicios</strong>
              {% elif g.name == 'staff' %}
                <strong>Supervisor de servicios</strong>
              {% else %}
                <strong>Administrador del sistema</strong>
              {% endif %}
            {% endfor %}
          </p>

          

          <a href="{% url 'edit_profile' %}" class="btn btn-primary"><b>Editar mi perfil</b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
{% endblock %}