{% extends 'base/body.html' %} {% load static %} {% block head %}
  <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
  <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
  <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
  <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" />
  <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" />
  <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>
  {% block title %}
  Detalles del servicio TFProtocol | Cerbero
  {% endblock title %}
  {% endblock %} {% block content %}
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#history" data-toggle="tab">Histórico pruebas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#metric" data-toggle="tab">Métricas</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="active tab-pane" id="history">
              <table id="status-table" class="display">
                <thead>
                  <tr>
                    <th>Estado</th>
                    <th>Fecha y hora</th>
                    <th>Tiempo de procesamiento de la CPU</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>

            <div class="tab-pane" id="metric">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Gráfica de comportamiento de la prueba: <strong>{{ service.name }}</strong> al (servico TFProtocol: <strong>{{ service.ip_address }}:{{ service.port }}</strong> )</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <div id="container"></div>
                    <button id="zoom" class="btn btn-primary"><i class="fas fa-search-plus"></i> Acercar</button>
                    <button id="zoom-out-all" class="btn btn-primary"><i class="fas fa-search-minus"></i> Alejar</button>
                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="application/javascript">
    var url = window.location.href
    var match = url.match(/\/([^/]+)\/$/)
    var pk = match ? match[1] : null
    $(document).ready(function () {
      if (pk) {
        // Inicializa el DataTable con el pk obtenido
        var table = $('#status-table').DataTable({
          columns: [{ data: 'is_up' }, { data: 'timestamp' }, { data: 'cpu_processing_time' }]
        })
    
        // Función para actualizar los datos de la tabla
        function refreshData() {
          $.ajax({
            url: "{% url 'statustfprecord' 0 %}".replace('0', pk),
            dataType: 'json',
            success: function (response) {
              var data = response
              // Borra los datos existentes en la tabla
              table.clear()
    
              // Agrega los nuevos datos a la tabla
              table.rows.add(data)
    
              // Vuelve a dibujar la tabla con los nuevos datos
              table.draw()
            }
          })
        }
    
        // Realiza la primera carga de datos
        refreshData()
    
        // Programa la recarga de datos cada 10 segundos
        setInterval(refreshData, 10000)
      }
    })
    
    // Preparar los arrays para Highcharts
    var fechas = []
    var estadosTiempos = []
    
    // Crear el gráfico de dispersión con línea superior
    var chart = Highcharts.chart('container', {
      chart: {
        type: 'scatter',
        zoomType: 'x', // Habilitar el zoom solo en el eje x
        scrollablePlotArea: {
          minWidth: 700, // Establece el ancho mínimo para habilitar el desplazamiento
          scrollPositionX: 1 // Ajusta la posición inicial del desplazamiento (opcional)
        }
      },
      navigation: {
        buttonOptions: {
          enabled: true // Habilitar los botones de zoom
        }
      },
    
      title: {
        text: 'Estado de las pruebas y tiempo de ejecución'
      },
      xAxis: {
        categories: fechas,
        minRange: 1, // Establecer el rango mínimo en el eje x para habilitar el desplazamiento
        tickWidth: 0,
        gridLineWidth: 1,
        title: {
          text: 'Prueba'
        },
        type: 'datetime',
        tickPixelInterval: 150
      },
      yAxis: {
        title: {
          text: 'Tiempo de Procesamiento'
        }
      },
      series: [
        {
          type: 'scatter',
          name: 'Estado y Tiempo',
          data: estadosTiempos,
          marker: {
            symbol: 'circle',
            lineWidth: 1
          },
          tooltip: {
            headerFormat: '<b>{point.x}</b><br>',
            pointFormat: 'Tiempo: {point.y} ms, Estado: {point.z}'
          },
          dataLabels: {
            enabled: true,
            format: '{point.name}<br>{point.y}',
            style: {
              textOutline: false
            }
          }
        },
        {
          type: 'line', // Agregar una serie de tipo línea
          name: 'Línea de conexión',
          data: estadosTiempos, // Utilizar los mismos datos de los puntos dispersos
          marker: {
            enabled: false
          },
          enableMouseTracking: false, // Desactivar el seguimiento del mouse para la línea
          color: 'black', // Color de la línea
          lineWidth: 1 // Ancho de la línea
        }
      ]
    })
    
    // Función para actualizar los datos del gráfico
    function actualizarDatos() {
      // Realizar solicitud AJAX para obtener los datos JSON
      $.ajax({
        url: "{% url 'statustfpgraficpoint' 0 %}".replace('0', pk),
        dataType: 'json',
        success: function (response) {
          // Verificar si los datos del JSON son diferentes a los datos existentes
          if (!sonIguales(response, estadosTiempos)) {
            // Actualizar los arrays con los nuevos datos
            var pruebas = []
            estadosTiempos = []
    
            for (var i = 0; i < response.length; i++) {
              var prueba = i // Número de prueba consecutivo
              var estado = response[i].is_up
              var tiempo = response[i].cpu_processing_time
    
              var color = 'blue' // Color por defecto: azul
    
              if (estado === 'up') {
                color = 'green' // Color para el estado 'Up': verde
              } else if (estado === 'down') {
                color = 'red' // Color para el estado 'Down': rojo
              } else if (estado === 'error') {
                color = 'yellow' // Color para el estado 'Error': amarillo
              }
    
              pruebas.push(prueba)
              estadosTiempos.push({
                x: prueba,
                y: tiempo,
                z: estado,
                color: color
              })
            }
    
            // Actualizar el gráfico
            chart.series[0].setData(estadosTiempos)
            chart.series[1].setData(estadosTiempos) // Actualizar también la serie de línea
            chart.xAxis[0].setCategories(pruebas.slice(0, -1), false) // Eliminar el último elemento del array pruebas y no redibujar el gráfico de inmediato
            chart.redraw() // Redibujar el gráfico una vez que se hayan actualizado las categorías del eje x
          }
        },
        error: function (error) {
          console.log('Error al obtener los nuevos datos:', error)
        }
      })
    }
    
    // Función para verificar si dosarrays son iguales
    function sonIguales(arr1, arr2) {
      if (arr1.length !== arr2.length) {
        return false
      }
    
      for (var i = 0; i < arr1.length; i++) {
        if (arr1[i].x !== arr2[i].x || arr1[i].y !== arr2[i].y || arr1[i].z !== arr2[i].z) {
          return false
        }
      }
    
      return true
    }
    
    actualizarDatos()
    // Programa la recarga de datos cada 2 segundos
    setInterval(actualizarDatos, 2000)
    
    // Obtener los valores mínimo y máximo iniciales del eje x
    var oMin = chart.xAxis[0].min
    var oMax = chart.xAxis[0].max
    
  
    
    $('#zoom').click(function () {
      var xMin = chart.xAxis[0].min
      var xMax = chart.xAxis[0].max
      var range = xMax - xMin
      var newRange = range * 0.8 // Reducir el rango en un 80% (zoom in)
    
      var newMin = xMin + (range - newRange) / 2
      var newMax = newMin + newRange
    
      chart.xAxis[0].setExtremes(newMin, newMax)
    })
    
    $('#zoom-out-all').click(function () {
      chart.xAxis[0].setExtremes(oMin, oMax)
    })
  </script>
{% endblock %}
