{% extends 'base/form.html' %}
{%load widget_tweaks%}
{% block title %}
Editar servicio ICMP | Cerbero
{% endblock title %}
{% block content %}
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card card-primary">
            <div class=" card-header">
                    <b>
                            <i class="fas fa-plus"> </i> Registrar servicio HTTP/S
                        </b>
            </div>

            <div class="card-body ">
                <div class="row">

                {% for field in form.visible_fields %}
                <div class=" form-group mb-3 col-6">

                    <label for="{{field.id_for_label}}">{{ field.label}}</label>
                    {{field| add_class:"form-control"}}
                    {% for error in field.errors %}
                    <samp class="error invalid-feedback">{{error}}</samp>

                    {% endfor %}


                    </div>
                 {% endfor %}
     
                     
                </div>
            
            
            <div class="card-footer">
                <button type="submit" class="btn btn-primary rounded btn-flat btnre">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{% url 'list_dns' %}" class="btn btn-danger rounded btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>

    </form>


{% endblock %}
