{% extends 'base/list.html' %}
{% load static %}


{% block head_list %}
<script src="{% static 'js/tcp_S.js' %}"></script>
{% if messages %}
  <script>
    $(document).ready(function() {
      {% for message in messages %}
        {% if message.tags %}
          {% if 'create' or 'edit' in message.tags %}
            toastr.success("{{ message }}");
          {% else %}
            toastr.warning("{{ message }}");
          {% endif %}
        {% endif %}
      {% endfor %}
    });
  </script>
{% endif %}



{% endblock head_list %}

{% block title %}
Listado de servicios TCP | Cerbero
{% endblock title %}

{% block title_list %}
Listado de servicios TCP 

{% endblock %}

{% block columns %}
<tr>
    <th>Nombre</th>
    <th>IP/DNS</th>
    <th>Número de pruebas</th>
    <th>Tiempo por pruebas</th>
    <th>Estado</th>
    <th>En Progreso</th>
    <th>Creado por</th>
    <th>Ultima Modificación</th>
    <th>Opciones</th>
</tr>

{% endblock %}

{% block rows %}
{% for tcp in tcp_s %}
<tr>
    <td scope="col" style="width: 20%;">{{ tcp.name }}</td>
    <td scope="col" style="width: 15%;">{{ tcp.ip_address}}</a></td>
    <td scope="col" style="width: 15%;">{{ tcp.number_probe }}</td>
    <td scope="col" style="width: 15%;">{{ tcp.probe_timeout }}</td>
    <td scope="col" style="width: 3%;" id="status_{{tcp.id}}" class="">
    {% if tcp.status == 'up' %}
        <i class="fas fa-circle" style="color: green;"></i>
    {% elif tcp.status == 'down' %} 
        <i class="fas fa-circle" style="color: red;"></i>
    {% elif tcp.status == 'error' %} 
        <i class="fas fa-circle " style="color: yellow;"></i>
    {% else %}
        <i class="fas fa-circle " style="color: grey;"></i>
    {% endif %}
    </td>
    <td scope="col" style="width: 15%;" id="process_{{tcp.id}}">
    
    {% if tcp.processed_by == 'Terminado' %}
        <h6><span class="badge badge-pill badge-success">Terminado</span></h6>
    {% elif  tcp.processed_by == 'Detenido'%} 
        <h6><span class="badge badge-pill badge-warning">Detenido</span></h6>
    {% elif tcp.processed_by == 'Monitoreando' %}
        <h6><span class="badge badge-pill badge-primary">Monitoreando</span></h6>
    {% else %}
    {% endif %}
    </td>
    <td scope="col" style="width: 15%;">{{ tcp.create_by }}</td>
    <td scope="col" style="width: 15%;">{{ tcp.last_modified_by }}</td>

    <td scope="col" style="width: 10%;">
        <div class="row">
            <div class="col-12 col-sm-6 mb-1 ">
                <a href="{% url 'edit_tcp' tcp.id %}" class=" edit-btn rounded btn btn-warning btn-sm btn-flat btn-block"
                    title="Editar Registro" data-in-processed ="{{ tcp.processed_by }}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-12 col-sm-6">
                <button class="iniciar-monitoreo-btn rounded btn btn-success btn-sm btn-flat btn-block"
                    title="Monitorear el servicio" data-service-id="{{ tcp.id }}"
                    data-in-processed-by="{{ tcp.processed_by }}"  name="service_id"><i class="fas fa-play"></i></button>
            </div>
            <div class="col-12 col-sm-6 mb-1 ">
                <button type="button" class="rounded btn btn-danger btn-sm btn-flat btn-block eliminar-btn"
                    title="Eliminar Registro"  data-objeto-id="{{tcp.id }}" data-processed="{{ tcp.processed_by }}"><i class="fas fa-trash-alt"></i></button>
            </div>
            <div class="col-12 col-sm-6">
                <a href="{% url 'service_detail_tcp' tcp.id %}" type="button"
                    class="rounded btn btn-info btn-sm btn-flat btn-block" title="Detalle de Registro"><i
                        class="fas fa-eye"></i></a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock %}
{% block buttons_list %}
<a href="{%url 'create_tcp'%}" class="btn btn-primary btn-flat btnTest">
    <i class="fas fa-plus"></i> Nuevo registro
</a>
{% endblock %}