{% extends 'base/list.html' %}
{% load static %}


{% block head_list %}
<script src="{% static 'js/http_S.js' %}"></script>




{% endblock head_list %}

{% block title %}
Listado de servicios HTTP/S | Cerbero
{% endblock title %}

{% block title_list %}
Listado de servicios HTTP/S
{% endblock %}

{% block columns %}
<tr>
    <th>Nombre</th>
    <th>URL</th>
    <th>Puerto</th>
    <th>Número de pruebas</th>
    <th>Tiempo por pruebas</th>
    <th>Estado</th>
    <th>En Progreso</th>
    <th>Opciones</th>
</tr>

{% endblock %}

{% block rows %}
{% for http_s in http_s %}
<tr>
    <td scope="col" style="width: 20%;">{{ http_s.name }}</td>
    <td scope="col" style="width: 15%;">{{ http_s.url}}</a></td>
    <td scope="col" style="width: 15%;">{{ http_s.port }}</td>
    <td scope="col" style="width: 15%;">{{ http_s.number_probe }}</td>
    <td scope="col" style="width: 15%;">{{ http_s.probe_timeout }}</td>
    <td scope="col" style="width: 3%;" id="status_{{ forloop.counter }}" class="">
    {% if http_s.status == 'up' %}
        <i class="fas fa-circle" style="color: green;"></i>
    {% elif http_s.status == 'down' %} 
        <i class="fas fa-circle" style="color: red;"></i>
    {% elif http_s.status == 'error' %} 
        <i class="fas fa-circle " style="color: yellow;"></i>
    {% else %}

    {% endif %}
    </td>
    <td scope="col" style="width: 15%;" id="process_{{ forloop.counter }}">
    
    {% if http_s.processed_by == 'Terminado' %}
        <h6><span class="badge badge-pill badge-success">Terminado</span></h6>
    {% elif  http_s.processed_by == 'Detenido'%} 
        <h6><span class="badge badge-pill badge-warning">Detenido</span></h6>
    {% elif http_s.processed_by == 'Monitoreando' %}
        <h6><span class="badge badge-pill badge-primary">Monitoreando</span></h6>
    {% else %}
        <h6><span class="badge badge-pill badge-secondary">Esperando</span></h6>

    {% endif %}
        
    
    </td>

    <td scope="col" style="width: 10%;" id="option_{{ forloop.counter }}">
        <div class="row">
            <div class="col-12 col-sm-6 mb-1 ">
                <a href="{% url 'edit_https' http_s.id %}" class=" edit-btn rounded btn btn-warning btn-sm btn-flat btn-block"
                    title="Editar Registro" data-in-processed ="{{ http_s.processed_by }}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-12 col-sm-6">
                <button class="iniciar-monitoreo-btn rounded btn btn-success btn-sm btn-flat btn-block"
                    title="Monitoriar el servicio" data-service-id="{{ http_s.id }}"
                    data-in-processed-by="{{ http_s.processed_by }}"  name="service_id"><i class="fas fa-play"></i></button>
            </div>
            <div class="col-12 col-sm-6 mb-1 ">
                <a href="#" type="button" class="rounded btn btn-danger btn-sm btn-flat btn-block"
                    title="Eliminar Registro"><i class="fas fa-trash-alt"></i></a>
            </div>
            <div class="col-12 col-sm-6">
                <a href="{% url 'service_detail' http_s.id %}" type="button"
                    class="rounded btn btn-info btn-sm btn-flat btn-block" title="Detalle de Registro"><i
                        class="fas fa-eye"></i></a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock %}
{% block buttons_list %}
<a href="{%url 'create_https'%}" class="btn btn-primary btn-flat btnTest">
    <i class="fas fa-plus"></i> Nuevo registro
</a>

{% if messages %}
  <script>
    $(document).ready(function() {
      {% for message in messages %}
        toastr.warning("{{ message }}");
      {% endfor %}
    });
  </script>
{% endif %}

{% endblock %}