{% extends 'base/list.html' %}
{% load static %}


{% block head_list %}
<script src="{% static 'js/http_S.js' %}"></script>

{% if messages %}
  <script>
    $(document).ready(function() {
      {% for message in messages %}
        {% if message.tags %}
          {% if 'create' or 'edit' in message.tags %}
            toastr.success("{{ message }}");
          {% else %}
            toastr.warning("{{ message }}");
          {% endif %}
        
        {% endif %}
      {% endfor %}
    });
  </script>
{% endif %}


{% endblock head_list %}

{% block title %}
Listado de servicios HTTP/S | Cerbero
{% endblock title %}

{% block title_list %}
Listado de servicios HTTP/S
{% endblock %}

{% block columns %}
<tr>
    <th>Nombre</th>
    <th>URL</th>
    <th>Puerto</th>
    <th>Número de pruebas</th>
    <th>Tiempo por pruebas</th>
    <th>Estado</th>
    <th>En Progreso</th>
    <th>Creado por</th>
    <th>Ultima Modificación</th>
    <th>Opciones</th>
</tr>

{% endblock %}

{% block rows %}
{% for http in http_s %}
<tr>
    <td scope="col" style="width: 20%;">{{ http.name }}</td>
    <td scope="col" style="width: 15%;">{{ http.url}}</a></td>
    <td scope="col" style="width: 15%;">{{ http.port }}</td>
    <td scope="col" style="width: 15%;">{{ http.number_probe }}</td>
    <td scope="col" style="width: 15%;">{{ http.probe_timeout }}</td>
    <td scope="col" style="width: 3%;" id="status_{{ http.id }}" class="">
    {% if http_s.status == 'up' %}
        <i class="fas fa-circle" style="color: green;"></i>
    {% elif http_s.status == 'down' %} 
        <i class="fas fa-circle" style="color: red;"></i>
    {% elif http_s.status == 'error' %} 
        <i class="fas fa-circle " style="color: yellow;"></i>
    {% else %}
    {% endif %}
    </td>
    <td scope="col" style="width: 15%;" id="process_{{ http.id }}">
    
    {% if http_s.processed_by == 'Terminado' %}
        <h6><span class="badge badge-pill badge-success">Terminado</span></h6>
    {% elif  http_s.processed_by == 'Detenido'%} 
        <h6><span class="badge badge-pill badge-warning">Detenido</span></h6>
    {% elif http_s.processed_by == 'Monitoreando' %}
        <h6><span class="badge badge-pill badge-primary">Monitoreando</span></h6>
    {% else %}
    {% endif %}
    </td>
    <td scope="col" style="width: 15%;">{{ http.create_by }}</td>
    <td scope="col" style="width: 15%;">{{ http.last_modified_by }}</td>


    <td scope="col" style="width: 10%;" id="options_{{ forloop.counter }}">
        <div class="row">
            <div class="col-12 col-sm-6 mb-1 ">
                <a href="{% url 'edit_https' http.id %}" class=" edit-btn rounded btn btn-warning btn-sm btn-flat btn-block"
                    title="Editar Registro" data-in-processed ="{{ http.processed_by }}"><i class="fas fa-edit"></i></a>
            </div>
            <div class="col-12 col-sm-6">
                <button class="iniciar-monitoreo-btn rounded btn btn-success btn-sm btn-flat btn-block monitoreo-btn"
                    title="Monitorear el servicio" data-service-id="{{ http.id }}"
                    data-in-processed-by="{{ http.processed_by }}" data-is-monitoring="{{ http.is_monitoring }}"  name="service_id">    
                        <i class="fas fa-pause"></i>
                  
            </div>
            <div class="col-12 col-sm-6 mb-1 ">
                <button type="button" class="rounded btn btn-danger btn-sm btn-flat btn-block eliminar-btn"
                    title="Eliminar Registro"  data-objeto-id="{{http.id }}" data-processed="{{ http.processed_by }}"><i class="fas fa-trash-alt"></i></button>
            </div>
            <div class="col-12 col-sm-6">
                <a href="{% url 'service_detail' http.id %}" type="button"
                    class="rounded btn btn-info btn-sm btn-flat btn-block" title="Detalle de Registro"><i
                        class="fas fa-eye"></i></a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% endblock %}
{% block buttons_list %}
<a href="{%url 'create_https'%}" class="btn btn-primary btn-flat btnTest">
    <i class="fas fa-plus"></i> Nuevo registro
</a>


{% endblock %}