{% extends 'base/list_admin.html' %}
{% load static %}

{% block head_list %}
  <script src="{% static 'js/admin.js' %}"></script>
  {% if messages %}
    <script>
    $(document).ready(function() {
      {% for message in messages %}
        {% if message.tags %}
          {% if 'create' or 'edit' in message.tags %}
            toastr.success("{{ message }}");
          {% else %}
            toastr.warning("{{ message }}");
          {% endif %}
        {% endif %}
      {% endfor %}
    });
  </script>
  {% endif %}
{% endblock %}

{% block title %}
  Listado de Grupos | Cerbero
{% endblock %}

{% block title_list %}
  Listado de Grupos
{% endblock %}

{% block columns %}
  <tr>
    <th>Grupos</th>
  </tr>
{% endblock %}

{% block rows %}
  {% for group in groups %}
    <tr>
        <td>{{group.name}}</td>
     
    </tr>
  {% endfor %}
{% endblock %}

